
<div id="gantt" class="container-fluid"></div>

@(Html.Kendo().Window()
                                        .Name("modalBoxImg")
                                        .Title("")
                                        .Visible(false)
                                        .Modal(true)
                                        .Draggable(false)
                                        .Content(@<text>
                                            <div class="img-responsive">
                                                <img src="@Url.Content("https://hipertextual.com/files/2018/04/Aviointeriors-Skyrider-670x377.jpg")" />
                                            </div>
                                        </text>)
                                                                        .Resizable()
                                                                        .Width(800)
                                                                        .Height(700)
                                                                        .Actions(actions => actions.Close())
                                                                        .Events(ev => ev.Close("onClose"))
)

<script>

    function onClose() {
    }

    function onModalBox() {
        $("#modalBoxImg").data("kendoWindow").open().center();
    }

    function onDataBound(e) {
        var ganttList = e.sender.list;
        var dataItems = ganttList.dataSource.view();
        for (var j = 0; j < dataItems.length; j++) {
            var dataItem = dataItems[j];
            var row = $("[data-uid='" + dataItem.uid + "']");
            //var span = row.find("td").eq(0).find("span").last();
            var span = row.find("td").eq(0).find("span").last();
            span.replaceWith(function () {
                var url = $.trim($(this).text());
                return '<a href="https://www.w3schools.com" target="_blank">' + dataItem.id + '</a>';
            });
            var span2 = row.find("td").eq(2).find("span").last();
            span2.replaceWith(function () {
                var url = $.trim($(this).text());
                return '<a href="#" class="thumbnail" onclick="onModalBox()"><img src = "https://hipertextual.com/files/2018/04/Aviointeriors-Skyrider-670x377.jpg" /></a >';
            });
        }
    }

    $(document).ready(function () {
        var serviceRoot = "//demos.telerik.com/kendo-ui/service";

        $.get("Tasks", function (data) {
            console.log(data);
        });

        var tasksDataSource = new kendo.data.GanttDataSource({
            transport: {
                read: {
                    dataType: "json",
                    url: "Tasks"
                }
            },
            pageSize: 20,
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: { from: "ID", type: "number" },
                        orderId: { from: "OrderID", type: "number", validation: { required: true } },
                        parentId: { from: "ParentID", type: "number", defaultValue: null, validation: { required: true } },
                        start: { from: "Start", type: "date" },
                        end: { from: "End", type: "date" },
                        title: { from: "Title", defaultValue: "", type: "string" },
                        percentComplete: { from: "PercentComplete", type: "number" },
                        summary: { from: "Summary", type: "boolean" },
                        expanded: { from: "Expanded", type: "boolean", defaultValue: true }
                    }
                }
            }
        });

        var gantt;

        kendo.ui.GanttCustomViewM = kendo.ui.GanttView.extend({
            name: "custom",

            options: {
                yearHeaderTemplate: kendo.template("#=kendo.toString(start, 'yyyy')#"),
                monthHeaderTemplate: kendo.template("#=kendo.toString(start, 'MMM')#")
            },

            range: function (range) {
                var aini = new Date().getFullYear();
                var afin = aini + 5;
                this.start = new Date("01/01/" + aini);
                this.end = new Date("01/01/" + afin);
            },

            _generateSlots: function (incrementCallback, span) {
                var slots = [];
                var slotStart = new Date(this.start);
                var slotEnd;

                while (slotStart < this.end) {
                    slotEnd = new Date(slotStart);
                    incrementCallback(slotEnd);

                    slots.push({ start: slotStart, end: slotEnd, span: span });

                    slotStart = slotEnd;
                }

                return slots;
            },

            _createSlots: function () {
                var slots = [];

                slots.push(this._generateSlots(function (date) { date.setFullYear(date.getFullYear() + 1); }, 12));
                slots.push(this._generateSlots(function (date) { date.setMonth(date.getMonth() + 1); }, 1));

                return slots;
            },

            _layout: function () {
                var rows = [];
                var options = this.options;

                rows.push(this._slotHeaders(this._slots[0], kendo.template(options.yearHeaderTemplate)));
                rows.push(this._slotHeaders(this._slots[1], kendo.template(options.monthHeaderTemplate)));

                return rows;
            }
        });

        kendo.ui.GanttCustomViewQ = kendo.ui.GanttView.extend({
            name: "custom",

            options: {
                yearHeaderTemplate: kendo.template("#=kendo.toString(start, 'yyyy')#"),
                quarterHeaderTemplate: kendo.template("# return ['Q1', 'Q2', 'Q3', 'Q4'][start.getMonth() / 3] #")
            },

            range: function (range) {
                var aini = new Date().getFullYear();
                var afin = aini + 5;
                this.start = new Date("01/01/" + aini);
                this.end = new Date("01/01/" + afin);
            },

            _generateSlots: function (incrementCallback, span) {
                var slots = [];
                var slotStart = new Date(this.start);
                var slotEnd;

                while (slotStart < this.end) {
                    slotEnd = new Date(slotStart);
                    incrementCallback(slotEnd);

                    slots.push({ start: slotStart, end: slotEnd, span: span });

                    slotStart = slotEnd;
                }

                return slots;
            },

            _createSlots: function () {
                var slots = [];

                slots.push(this._generateSlots(function (date) { date.setFullYear(date.getFullYear() + 1); }, 12));
                slots.push(this._generateSlots(function (date) { date.setMonth(date.getMonth() + 3); }, 3));

                return slots;
            },

            _layout: function () {
                var rows = [];
                var options = this.options;

                rows.push(this._slotHeaders(this._slots[0], kendo.template(options.yearHeaderTemplate)));
                rows.push(this._slotHeaders(this._slots[1], kendo.template(options.quarterHeaderTemplate)));

                return rows;
            }
        });

        kendo.ui.GanttCustomViewY = kendo.ui.GanttView.extend({
            name: "custom",

            options: {
                yearHeaderTemplate: kendo.template("#=kendo.toString(start, 'yyyy')#")
            },

            range: function (range) {
                var aini = new Date().getFullYear();
                var afin = aini + 5;
                this.start = new Date("01/01/" + aini);
                this.end = new Date("01/01/" + afin);
            },

            _generateSlots: function (incrementCallback, span) {
                var slots = [];
                var slotStart = new Date(this.start);
                var slotEnd;

                while (slotStart < this.end) {
                    slotEnd = new Date(slotStart);
                    incrementCallback(slotEnd);

                    slots.push({ start: slotStart, end: slotEnd, span: span });

                    slotStart = slotEnd;
                }

                return slots;
            },

            _createSlots: function () {
                var slots = [];

                slots.push(this._generateSlots(function (date) { date.setFullYear(date.getFullYear() + 1); }, 12));

                return slots;
            },

            _layout: function () {
                var rows = [];
                var options = this.options;

                rows.push(this._slotHeaders(this._slots[0], kendo.template(options.yearHeaderTemplate)));

                return rows;
            }
        });

        gantt = $("#gantt").kendoGantt({
            dataSource: tasksDataSource,
            //dependencies: dependenciesDataSource,
            views: [
                { type: "kendo.ui.GanttCustomViewM", title: "Months", selected: false },
                { type: "kendo.ui.GanttCustomViewQ", title: "Quaterly", selected: true },
                { type: "kendo.ui.GanttCustomViewY", title: "Year", selected: false }
            ],
            columns: [
                { field: "id", title: "ID", width: 60 },
                { field: "title", title: "Title", editable: false, sortable: false, width: 200 },
                { field: "summary", title: "Summary", editable: false, sortable: false, width: 100 },
                { field: "start", title: "Start Time", format: "{0:yyyy}", width: 100, editable: false, sortable: true },
                { field: "end", title: "End Time", format: "{0:yyyy}", width: 100, editable: false, sortable: true }
            ],
            height: 700,
            editable: false,
            showWorkHours: false,
            showWorkDays: false,
            Snap: false,
            resizable: true,
            rowHeight: 85,
            //columnHeight: 50,
            dataBound: onDataBound
        }).data("kendoGantt");

        $(document).bind("kendo:skinChange", function () {
            gantt.refresh();
        });
    });
</script>


